    <div class="intro">Hello, I'm Kyle!</div>
    <div class="tagline">Software Engineer | 22 Years Old | Newcastle</div>
    <!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
    <div class="icons-social">
      <a target="_blank" href="https://github.com/KyleEdwardDonaldson"><i class="fab fa-github"></i></a>
      <a target="_blank" href="https://twitter.com/KyleEdwardD"><i class="fab fa-twitter"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/kyleedwarddonaldson"><i class="fab fa-linkedin"></i></a>
    </div>
